.signature {
    position: fixed;
    bottom: 10px;
    right: 60px;
    font-size: 20px;
    color: #000000;
    opacity: 1.0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.card-header {
    background-color: rgb(241, 248, 168);
}

.card-body {
    height: 600px;
}

#tab2 {
    margin-bottom: 50px;
}
